body {
  color : silver;
  background-color : black;
}

#calendar {
  width : 45%;
  margin : auto;
  border-collapse : collapse;
  font-weight : 900;
  font-size : 1.5em;
  position: absolute;
  top: 5em;
  left: 27.5%;
}

#calendar th {
  padding-bottom : 10px;
}

#calendar td {
  text-align : center;
  color : silver;
  background-color : black;
  border : gray solid 2px;
  width : 10%;
  height : 75px;
}

#calendar .noWork {
  background-color: #222222;
}

#calendar .noMonth {
  color : #444444;
}

#calendar .today {
  background-color : #BBBBBB;
  color : black;
}

#date {
  margin : auto;
  text-align : center;
  font-size : 1.5em;
  font-weight : 900;
}

#month {
  margin: auto;
  text-align: center;
  font-size : 1.3em;
  font-weight : bold;
  position: relative;
  top: 1.4em;
  width: 25%;
}

.monthSwitchImg {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  top: 6em;
}

#rightMonthSwitch {
  right: 30%;
}

#leftMonthSwitch {
	left: 30%;
}

#theDuck {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 15%;
}

#editor {
	position: absolute;
	top: 19%;
	right: 2.5em;
	width: 300px;
	height: 50%;
	background-color: #FF0000;
	overflow: auto;
}

#editorBar {
	position: absolute;
	top: 19%;
	right: 0%;
	border: solid #BBBBBB;
	height: 50%;
	width: 2em;
}

.barImg {
	position: relative;
	top: 45%;
	left: 10%;
	width: 1.5em;
	height: 1.5em;
}
