body {
    color: silver;
    background-color: black;
    width: 100%;
    overflow-x: hidden;
    cursor: default;
}

#calendar {
    width: 45%;
    margin: auto;
    border-collapse: collapse;
    font-weight: 900;
    font-size: 1.5em;
    position: absolute;
    top: 5em;
    left: 27.5%;
}

#bodyContent { /*La div principal de la page setting.php*/
    width: 45%;
    margin: auto;
    position: absolute;
    top: 5em;
    left: 27.5%;
}

#calendar th {
    padding-bottom: 10px;
}

#calendar td {
    text-align: center;
    color: silver;
    background-color: black;
    border: gray solid 2px;
    width: 10%;
    height: 75px;
}

.noWork {
    background-color: #222222;
}

.noMonth {
    color: #444444;
    cursor: pointer;
}

.noMonth:hover {
    color: #BBBBBB;
}

.month {
    cursor: pointer;
}

.month:hover {
    background-color: #444444;
}

.hasEvent {
    background-color: #410f0f;
}

.today {
    text-decoration: underline;
}

#selectedDay {
    background-color: #9e9d9d;
    color: black;
}

#date {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
}

#month {
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    position: relative;
    top: 1.4em;
    width: 25%;
}

#right {
    position: absolute;
    right: 30%;
    width: 2.5em;
    height: 2.5em;
    top: 6em;
}

#left {
    position: absolute;
    left: 30%;
    width: 2.5em;
    height: 2.5em;
    top: 6em;
}

#theDuck {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 13%;
}

#notification {
    position: absolute;
    left: 15%;
    top: 3%;
}

#connect {
    position: absolute;
    right: 10px;
    top: 10px;
}

#inscription {
    position: absolute;
    left: 20%;
    top: 30%;
}

.round {
    border-radius: 7px;
    background-color: rgb(30, 30, 30);
    color: silver;
    margin: 2px;
    border: solid gray 1px;
}

.round:focus {
    box-shadow: 0px 0px 8px rgb(0, 180, 0);
}

.redBorder {
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

.redBorder:focus {
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

a {
  color: gray;
}

#decoButton {
    cursor: pointer;
}

#topLeftPanel h3 {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0px;
}

#leftPanel {
    background-color: black;
    color: silver;
    border-top: solid 2px gray;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
    width: 20%;
    height: 450px;
    position: absolute;
    top: 175px;
    left: 0%;
    padding-left: 5px;
    border-collapse: collapse;
    display: block;
}

#innerLeftPanel {
    border-top: gray solid 2px;
    height: 83%;
    overflow-y: auto;
}

#bottomLeftPanel {
    border-top: gray solid 2px;
    height: 30px;
}

#leftPanelToggle {
    width: 25px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    cursor: pointer;
}

#rightPanel {
    background-color: black;
    color: silver;
    border-top: solid 2px gray;
    border-left: solid 2px gray;
    border-bottom: solid 2px gray;
    width: 20%;
    height: 450px;
    position: absolute;
    top: 150px;
    right: -22%;
    padding-left: 5px;
    border-collapse: collapse;
    display: none;
}

#topRightPanel h3 {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0px;
}

#innerRightPanel {
    border-top: gray solid 2px;
    height: 83%;
    overflow-y: auto;
}

#bottomRightPanel {
    border-top: gray solid 2px;
    height: 30px;
}

.eventDesc {
    /*position: relative;*/
    /*left: 5px;*/
}

#innerRightPanel dt {
    font-weight: bold;
    /*text-decoration: underline;*/
    cursor: pointer;
}

#innerRightPanel dt:hover {
    color: #999999;
}

#plus {
  position: absolute;
  bottom: 4px;
  left: 0px;
  /*width: 12%;*/
  width: 25px;
  /*border: 1px solid gray;*/
  padding: 5px;
  cursor: pointer;
}

#undo {
    width: 25px;
    position: absolute;
    bottom: 8px;
    left: 35px;
    cursor: pointer;
    display: none;
}

#newEventSubmit {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 70px;
}

.deleteEventImg {
    height: 4%;
    width: 4%;
}

.displayedEventTitle {
    position: relative;
    left: 5px;
}

.modifTime {
    cursor: pointer;
}

.modifDate {
    cursor: pointer;
}

.modifText {
    cursor: pointer;
}

.modifArea {
    cursor: pointer;
}

#panelArrow {
    position: absolute;
    bottom: 4px;
    right: 0px;
    width: 25px;
    padding: 5px;
    cursor: pointer;
}

#newEventStatus {
    position: absolute;
    bottom: 15px;
    left: 130px;
    display: none;
}

/*
#moins {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 8%;
  padding: 2px;
}
*/

.today.hasEvent {
    /*background-color:*/ 
}

#loadingImg {
    visibility: hidden;
}