body {
    color: silver;
    background-color: black;
    width: 100%;
    overflow-x: hidden;
    cursor: default;
}

#calendar {
    position: absolute;
    width: 45%;
    height: 65%;
    margin: auto;
    border-collapse: collapse;
    font-weight: bolder;
    font-size: 1.5em;
    top: 18.5%;
    left: 27.5%;
}

#bodyContent { /*La div principal de la page setting.php*/
    width: 62%;
    margin: auto;
    position: absolute;
    top: 22%;
    left: 19%;
}

#bodyContent form {
    border : solid gray 2px;
    padding : 2%;
}

#bodyContent label {
    width : 600px;
    float : left;
    display : block;
}

#calendar th {
    padding-bottom: 10px;
}

#calendar td {
    text-align: center;
    color: silver;
    background-color: black;
    border: gray solid 2px;
    width: 10%;
    height: 75px;
}

#calendar .noWork {
    background-color: #222222;
}

#calendar .noMonth {
    color: #444444;
    cursor: pointer;
}

#calendar .noMonth:hover {
    color: #BBBBBB;
}

#calendar .month {
    cursor: pointer;
}

#calendar .month:hover {
    background-color: #444444;
}

#calendar .hasEvent {
    background-color: #410f0f;
}

#calendar .today {
    text-decoration: underline;
}

#calendar #selectedDay {
    background-color: #9e9d9d;
    color: black;
}

#date {
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

#month {
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    left : 37.5%;
    top: 13%;
    width: 25%;
}

#right {
    position: absolute;
    right: 30%;
    width: 2.5em;
    height: 2.5em;
    top: 13%;
}

#left {
    position: absolute;
    left: 30%;
    width: 2.5em;
    height: 2.5em;
    top: 13%;
}

#theDuck {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 13%;
}

#notification {
    position: absolute;
    width : 25%;
    height : 12%;
    left: 14%;
    top: 3%;
}

#connect {
    position: absolute;
    right: 1%;
    top: 1%;
}

#p0{
    padding : 2%;
    position: absolute;
    left: 32%;
    top: 17%;
}

#p1{
    padding : 2%;
    position: absolute;
    left: 32%;
    top: 68%;
}

#inscription {
    padding : 2%;
    border : solid gray 2px;
    position: absolute;
    left: 35%;
    top: 30%;
}

#inscription label {
    width : 150px;
    display : block;
    float : left;
}

.round {
    border-radius: 7px;
    background-color: rgb(30, 30, 30);
    color: silver;
    margin: 2px;
    border: solid gray 1px;
}

.round:focus {
    box-shadow: 0px 0px 8px rgb(0, 180, 0);
}

.redBorder {
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

.redBorder:focus {
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

a {
  color: gray;
}
/*Boutton de deconnection*/
#decoButton {
    cursor: pointer;
}

#topLeftPanel h3 {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0px;
}

#leftPanel {
    background-color: black;
    color: silver;
    border-top: solid 2px gray;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
    width: 20%;
    height: 65%;
    position: absolute;
    top: 25%;
    left: 0%;
    padding-left: 5px;
    border-collapse: collapse;
    display: block;
}

#innerLeftPanel {
    border-top: gray solid 2px;
    height: 83%;
    overflow-y: auto;
}

#bottomLeftPanel {
    border-top: gray solid 2px;
    position : absolute;
    height: 10%;
    bottom: 0%;
    width : 100%;
    left : 0%;
}

#leftPanelToggle {
    width: 10%;
    position: absolute;
    right: 2%;
    bottom: 20%;
    cursor: pointer;
}

#rightPanel {
    background-color: black;
    color: silver;
    border-top: solid 2px gray;
    border-left: solid 2px gray;
    border-bottom: solid 2px gray;
    width: 20%;
    height: 65%;
    position: absolute;
    top: 25%;
    right: 0%;
    padding-left: 5px;
    border-collapse: collapse;
    display: none;
}

#topRightPanel {
    position : absolute;
    border-bottom : gray solid 2px;
    top : 0%;
    left : 0%;
    width : 100%;
    height : 7%;
}

#topRightPanel h3 {    
    font-size: 150%; 
    font-weight: bolder;
    margin: 0px;
}

#innerRightPanel {
    position : absolute;
    border-top: gray solid 2px;
    top : 7%;
    width : 98%;
    height: 83%;
    overflow-y: auto;
}

#bottomRightPanel {
    position : absolute;
    height: 10%;
    width : 100%;
    left : 0%;
    bottom : 0%;
}

.eventDesc {
    /*position: relative;*/
    /*left: 5px;*/
}

#innerRightPanel dt {
    font-weight: bold;
    /*text-decoration: underline;*/
    cursor: pointer;
}

#innerRightPanel dt:hover {
    color: #999999;
}

#plus {
  position: absolute;
  bottom: 5%;
  left: 2%;
  width: 10%;
  padding: 5px;
  cursor: pointer;
}

#undo {
  position: absolute;
  bottom: 5%;
  right: 15%;
  width: 10%;
  padding: 5px;
  cursor: pointer;
}

#newEventSubmit {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 25%;
}

.deleteEventImg {
    height: 4%;
    width: 4%;
}

.displayedEventTitle {
    position: relative;
    left: 5px;
}

.modifTime {
    cursor: pointer;
}

.modifDate {
    cursor: pointer;
}

.modifText {
    cursor: pointer;
}

.modifArea {
    cursor: pointer;
}

#panelArrow {
    position: absolute;
    bottom: 5%;
    right: 0px;
    width: 10%;
    padding: 5px;
    cursor: pointer;
}

#newEventStatus {
    position: absolute;
    bottom: 15px;
    left: 130px;
    display: none;
}

/*
#moins {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 8%;
  padding: 2px;
}
*/

.today.hasEvent {
    /*background-color:*/ 
}

#loadingImg {
    visibility: hidden;
}
